# 基础配置
PORT=5000
TZ=Asia/Shanghai

# 认证配置
ENABLE_LOGIN=false
USERNAME=admin
PASSWORD=admin

# 功能开关
ENABLE_ADD_DEL=true
ENABLE_REFRESH=true

# 状态检测配置
REFRESH_INTERVAL=30
PING_TIMEOUT=300
ARP_TIMEOUT=300
TCP_TIMEOUT=1
ARP_INTERFACE=

# 数据路径
DATA_PATH=/app/db
CRON_PATH=/etc/cron.d
